{% extends "base.html" %}
{% load static %}
{% block sb_admin_header %}<!-- Header of the page scripts or link styles -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" type="text/javascript"> </script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock sb_admin_header %}
{% block sb_admin_breadcrumb_active %}<li class="breadcrumb-item active">
      Categorias
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
  {%include "menu_models.html"%}
  <!-- <h1>Categorias</h1> -->
  {% if perms.iso27000.view_category %}
    {% if list_categories %}
    <table class="table table-striped" id="iso27000">
      <thead class="thead-dark">
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th style="text-align: right">Cumplimiento</th>
          <th ></th>
        </tr>
      </thead>
      <tbody >
        {% for cat in list_categories %}
        <tr >
          <td>  {{cat.code}} </td>
          <td>  {{cat.name}}</td>
          <td style="text-align: right">  {{cat.percent_completed_category}} %</td>
          <td colspan="1">
            <button type="button" class="btn" onclick="location.href='{% url 'update_category' pk=cat.pk %}'">
              <i class="fas fa-edit fa-fw" aria-hidden="true" style="color: #00b4d8"></i>
            </button>
            <button type="button" class="btn"  onclick="location.href='{% url 'delete_category' pk=cat.pk %}'">
              <i class="fas fa-trash-alt" aria-hidden="true" style="color: #e63946"></i>
            </button>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No se encontraron documentos</p>
    {% endif %}
  {% else %}
    <div class="alert alert-warning" role="alert">
      No tienes los permisos suficientes para ver estos registros
    </div>
  {% endif %}
{% endblock sb_admin_content %}
