{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block sb_admin_breadcrumb_active %}
  <li class="breadcrumb-item active">
        Crear categoria
   </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
{% if perms.iso27000.add_category %}
  {% crispy form%}
{% else %}
  <div class="alert alert-danger" role="alert">
    No tienes los permisos suficientes para crear registros
  </div>
{% endif %}
{% endblock sb_admin_content %}
