{% extends "base.html" %}
{% block sb_admin_breadcrumb_active %}<li class="breadcrumb-item active">
      Eliminar Categoria
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}

{% if perms.iso27000.delete_category %}
  <form class="form" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirmar">
  </form>
{% else %}
  <div class="alert alert-danger" role="alert">
    No tienes los permisos suficientes para modificar este registro
  </div>
{% endif %}
{% endblock sb_admin_content %}
