{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block sb_admin_description %}{% endblock sb_admin_description %}">
  <meta name="author" content="{% block sb_admin_author %}{% endblock %}">
  <title>{% block title %}ISO 27000{% endblock %}</title>

  <!-- Custom fonts for this template-->

  <!-- Page level plugin CSS-->
  <!-- <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet"> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script> -->

  <!-- Custom styles for this template-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block sb_admin_custom_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "vendor/fontawesome-free/css/all.min.css"  %}" rel="stylesheet" type="text/css">
  {% endblock sb_admin_custom_css %}
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand" href="{% block sb_admin_header_url %}{% url "index" %}{% endblock sb_admin_header_url %}">{% block sb_admin_header %}ISO 27000{% endblock sb_admin_header %}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  {% block sb_admin_navbar_right %}
  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

  </form>


  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <!-- <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="{% url "dashboard" %}">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div> -->
    </li>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{% url "dashboard" %}" >Login</a>
      </div>
    </li>
  </ul>
  {% endblock sb_admin_navbar_right %}
</nav>


<div id="wrapper"><!-- wrapper -->

  <div id="content-wrapper"><!-- content wrapper -->
    <div class="container-fluid"><!-- cfluid -->
  {# <div id="page-wrapper"> #}
  {# <div class="container-fluid"> #}
      <!-- Page Heading -->

  {% block sb_admin_content %}

  {% endblock sb_admin_content %}
    </div><!-- cfluid -->
  </div><!-- content wrapper -->
  <!-- Sticky Footer -->
  <!-- <footer class="footer">
      <div  class="d-flex justify-content-center py-4">
        <span>{% block sb_admin_copyright %}Copyright © Sistema de Gestion de Seguridad de la Informacion ISO 27001 2021{% endblock sb_admin_copyright %}</span>
      </div>
  </footer> -->

</div><!-- wrapper end -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- jQuery -->
<script src="{% static "js/jquery.js"%}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js"%}"></script>
{% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}
<!-- Bootstrap core JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js"%}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static "vendor/chart.js/Chart.min.js"%}"></script>
<script src="{% static "vendor/datatables/jquery.dataTables.js"%}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.js"%}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static "js/sb-admin.min.js"%}"></script>

<!-- Demo scripts for this page-->
<script src="{% static "js/demo/datatables-demo.js"%}"></script>
<script src="{% static "js/demo/chart-area-demo.js"%}"></script>


</body>

</html>
