{% extends "django_sb_admin/base.html" %}
{% load static %}
{% block sb_admin_header %}<!-- Header of the page scripts or link styles -->

{% endblock sb_admin_header %}
<link href="{% static 'font-awesome/css/font-awesome.min.css'  %}" rel="stylesheet" type="text/css">
{% block sb_admin_title %}ISO 27000{% endblock sb_admin_title %}

{% block sb_admin_navbar_right %}
<!-- Navbar Search -->
<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>


<!-- Navbar -->
<ul class="navbar-nav ml-auto ml-md-0">
  <!-- <li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bell fa-fw"></i>
      <span class="badge badge-danger">9+</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->
  <!-- <li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-envelope fa-fw"></i>
      <span class="badge badge-danger">7</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->
  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-circle fa-fw"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="{% url "admin:index" %}"> <i class="fas fa-cog fa-fw"></i>Configuracion</a>
      <!-- <a class="dropdown-item" href="#">Activity Log</a> -->
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
    </div>
  </li>
</ul>

{% endblock sb_admin_navbar_right %}
{% block sb_admin_sidebar %}
<li class="nav-item active">
  <a class="nav-link" href="{% url "dashboard" %}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</li>
<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="{% url "category" %}" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-fw fa-folder"></i>
    <span>Categorias</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="pagesDropdown">
    <h6 class="dropdown-header">Login Screens:</h6>
    <a class="dropdown-item" href="{% url "sb_admin_login" %}">Login</a>
    <a class="dropdown-item" href="{% url "sb_admin_register" %}">Register</a>
    <a class="dropdown-item" href="{% url "sb_admin_forgot_password" %}">Forgot Password</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Other Pages:</h6>
    <a class="dropdown-item" href="{% url "sb_admin_404" %}">404 Page</a>
    <a class="dropdown-item" href="{% url "sb_admin_blank" %}">Blank Page</a>
  </div>
</li> -->
<li class="nav-item">
  <a class="nav-link" href="{% url "category" %}">
    <i class="fas fa-fw fa-folder"></i>
    <span>Categorias</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url "document" %}">
    <i class="fas fa-fw fa-file"></i>
    <span>Documentos</span></a>
</li>
<!-- <li class="nav-item">
  <a class="nav-link" href="{% url "sb_admin_tables" %}">
    <i class="fas fa-fw fa-table"></i>
    <span>Tablas</span></a>
</li> -->
{% endblock sb_admin_sidebar %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url "dashboard" %}">ISO 27001</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_content %} <!-- content -->{% endblock sb_admin_content %}
{% block sb_admin_copyright %}<!-- copyright -->{% endblock sb_admin_copyright %}
