{% extends "base.html" %}
{% load static %}
{% load highcharts_tags %}
<!-- enable highcharts scripts -->
<!-- highcharts_js (highcharts 3d highstock heatmap) you need to pass 1 or 0 if you want to enable 3d or highstock         etc...-->
{% highcharts_js 1 0 0 0 %}
<!-- the graph container -->
{% block sb_admin_header %}<!-- Header of the page scripts or link styles -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/modules/drilldown.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $.getJSON("{% url 'chart' %}", function(data) {
      data.chart.renderTo = 'container2'
      const chart = new Highcharts.Chart(data)
    });
  });
</script>
{% endblock sb_admin_header %}
{% block sb_admin_content %}

<div id="container2" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto">
</div>
{% endblock sb_admin_content %}
