{% load static %}
{% include "base_index.html" %}

    {% block sb_admin_content %}
      <h2 class="page-header"></h2>

        <div class="row">
          <div class="col-sm-1"> </div>
          <div class="col-sm-10" >

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                <a href="https://www.uts.edu.co/sitio/" target="_blank">
                  <img src="{% static 'images/imagen1.jpg' %}" class="d-block w-100" alt="..." width="1000px" height="500px">
                </a>
                </div>
                <div class="carousel-item">
                  <a href="https://blog.posgrados.ibero.mx/seguridad-de-la-informacion/" target="_blank">
                  <img src="{% static 'images/imagen3.jpg' %}" class="d-block w-100" alt="..." width="1000px" height="500px">
                </a>
                </div>
                <div class="carousel-item">
                  <a href="https://www.iso27000.es/sgsi.html" target="_blank">
                  <img src="{% static 'images/imagen4.jpg' %}" class="d-block w-100" alt="..." width="1000px" height="500px">
                </a>
                </div>
                <div class="carousel-item">
                  <a href="https://ingertec.com/que-es-la-seguridad-de-la-informacion/" target="_blank">
                  <img src="{% static 'images/imagen5.jpg' %}" class="d-block w-100" alt="..." width="1000px" height="500px">
                </a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            </div>
          </div>

      <br>
      <br>
      <br>

      <!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/foto1.jpg' %}" alt="Generic placeholder image" width="220" height="220">
            <h3>Gestión de la Seguridad de la Información ISO/IEC 27001</h3>
            <p>La información es un activo valioso que puede hacer crecer o destruir a su organización. Cuando se gestiona apropiadamente, le permite operar con confianza. La gestión de seguridad de la información le da la libertad de crecer, innovar y ampliar su base de clientes con el conocimiento que toda su información confidencial permanecerá de esa manera.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/foto2.jpg' %}" alt="Generic placeholder image" width="220" height="220">
            <h3>¿Qué es ISO/IEC 27001?</h3>
            <p>ISO/IEC 27001 es un reconocido marco internacional de las mejores prácticas para un sistema de gestión de seguridad de la información. Le ayuda a identificar los riesgos para su información importante y pone en su lugar los controles apropiados para ayudarle a reducir el riesgo.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/foto3.jpg' %}" alt="Generic placeholder image" width="220" height="220">
            <h3>¿Cuáles son los beneficios de la Gestión de Seguridad de la Información ISO/IEC 27001?</h3>
            <ul>
              <li>Identifique los riesgos y coloque controles en el sitio para gestionarlos o eliminarlos.</li>
              <li>Flexibilidad para adaptar controles a todas las áreas o áreas seleccionadas de su organización. </li>
              <li>Gane la confianza de los interesados y de los clientes de que sus datos están protegidos .</p>
              <li>Demuestre cumplimiento y gane estatus como proveedor preferido.</li>
              <li>Satisfaga más expectativas de licitaciones al demostrar cumplimiento .</li>
            </ul>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">

          <div class="col-md-7">
            <h2 class="featurette-heading">¿En qué consiste el servicio? <span class="text-muted"></span></h2>
            <p class="lead">El SGSI basado en ISO/IEC 27001 permite la gestión y control de los riesgos de la seguridad de la información en las organizaciones para las cuales la información y la tecnología son activos importantes de su negocio.

Mediante las mejores prácticas de seguridad de la información, las organizaciones que certifican su SGSI demuestran ante sus accionistas, clientes, autoridades, proveedores y demás partes interesadas, la debida diligencia en este importante aspecto y garantizan la aplicación adecuada de los recursos en las áreas de mayor impacto potencial, optimizando así sus inversiones y costos de seguridad.</p>
          </div>
          <div class="col-md-5">
            <br/><br/>
            <br/><br/>
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/imagen6.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">¿A quiénes está dirigida? <span class="text-muted"></span></h2>
            <li class="lead">Empresas de servicios.</li>
            <li class="lead">Prestadores de servicios tercerizados (BPO, ITO y demás modelos).</li>
            <li class="lead">Empresas del sector financiero de banca y seguros.</li>
            <li class="lead">Empresas del sector de tecnología de la información.</li>
            <li class="lead">Empresas de comunicaciones.</li>
            <li class="lead">Empresas de seguridad y custodia.</li>
            <li class="lead">Entidades públicas.</li>
            <li class="lead">Todo tipo de empresas de cualquier sector económico o industrial, públicas o privadas que hagan uso intensivo de la tecnología de la información.​</li>

          </div>
          <div class="col-md-5 order-md-1">
            <br/><br/>
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/imagen7.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">¿Qué beneficios trae su implementación? <span class="text-muted"></span></h2>
            <li class="lead">Habilita y potencializa el uso de las más actuales herramientas de colaboración y de gestión de la información, protegiendo el valor de la confidencialidad, la integridad y la disponibilidad de la información para el negocio.</li>
            <li class="lead">La implementación del sistema de gestión de seguridad de la información se constituye en una herramienta para la comunicación eficaz entre la alta dirección empresarial, los responsables de la gestión y custodia de la información y los clientes y demás interesados.</li>
            <li class="lead">Previene y reduce eficazmente el nivel de riesgo, mediante la implantación de los controles adecuados; de este modo, prepara a la organización ante posibles emergencias y garantiza la continuidad del negocio.</li>
            <li class="lead">Permite a la dirección monitorear, evaluar, asignar y gestionar los recursos necesarios para la seguridad de la información.</li>
            <i class="lead">Habilita y potencializa el uso de las más actuales herramientas de colaboración y de gestión de la información, protegiendo el valor de la confidencialidad, la integridad y la disponibilidad de la información para el negocio.</li>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/imagen8.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


  {# {% include "django_sb_admin/login.html" %}                #}
  {% endblock sb_admin_content %}
