{% load static %}
{% include "base_index.html" %}
<div id="wrapper"><!-- wrapper -->
  <div id="content-wrapper"><!-- content wrapper -->
      <!-- Page Heading -->
        {% block sb_admin_content %}
        <!-- Page Content -->

        <div class="d-flex justify-content-center">
          <h1 class="display-1">404</h1>
        </div>
        <div class="d-flex justify-content-center">
          <p class="lead">Page not found. You can
            <a href="javascript:history.back()">go back</a>
            to the previous page, or
            <a href="{% url "index" %}">return home</a>.</p>
        </div>
        {% endblock sb_admin_content %}
    </div><!-- cfluid -->
  </div><!-- content wrapper -->
