{% load static %}
{% include "base_index.html" %}
<div id="wrapper"><!-- wrapper -->
  <div id="content-wrapper"><!-- content wrapper -->
      <!-- Page Heading -->
      {% block sb_admin_content %}
          <div class="row">
            <div class="col" colspan="4">

            </div>
            <div class="col" colspan="4">
              {% include "django_sb_admin/login_old.html" %}
            </div>
            <div class="col" colspan="4">

            </div>
          </div>
          {% endblock sb_admin_content %}

    </div><!-- cfluid -->
  </div><!-- content wrapper -->
