{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block sb_admin_breadcrumb_active %}
  <li class="breadcrumb-item active">
        Crear Documento
   </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
  <!-- <h1>Categorias</h1> -->
  {% if perms.iso27000.add_document %}
    {% crispy form%}
  {% else %}
    <div class="alert alert-warning" role="alert">
      No tienes los permisos suficientes para agregar registro
    </div>
  {% endif %}
{% endblock sb_admin_content %}
